
body {
  padding: 1em;
}

#theme-switcher {
  position: fixed;
  top: 0.5em;
  right: 1em;
  padding: 0.25em;
  background-color: #000;
  color: var(--lt-color-gray-200);
  font-size: 0.8em;
  z-index: 9999;
  width: fit-content;
}

#asides-toggler {
  position: fixed;
  top: 0.5em;
  right: 4em;
  padding: 0.25em;
  background-color: #000;
  color: var(--lt-color-gray-200);
  font-size: 0.8em;
  z-index: 9999;
  width: fit-content;
}

img, video {
  display: block;
  margin: 1em 0;
}

#navigation li {
  font-size: 0.7em;
  padding-bottom: 0%;
  padding-top: 0%;
}

#headings li {
  font-size: 0.7em;
  padding-bottom: 0%;
  padding-top: 0%;
}

li.level-2 {
  padding-left: 1em;
}
li.level-3 {
  padding-left: 2em;
}
li.level-4 {
  padding-left: 3em;
}

.sub {
  padding-left: 1.5em;
}

table, td, th {
  border: 1px solid var(--lt-color-gray-400);
}

li.section {
  font-size: 0.9em !important;
}

li.subsection {
  font-size: 0.8em !important;
}

li > p {
  --typography-spacing-vertical: 0.5rem;
}

aside, #content {
  height: 100%;
}

.grid > aside:first-of-type {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  overflow-y: auto;
  width: 250px;
}

.grid > aside:last-of-type {
  position: fixed;
  top: 1.75em;
  right: 0.5em;
  overflow-y: auto;
  width: 200px;
}

#content {
  margin-left: 250px;
  margin-right: 200px;
  width: auto;
}

#headings {
  margin-bottom: 36px;
}